<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../assets/CSS/style.css">
  <!-- <script src="../index.js"></script> -->
  <!-- <script src="./helper.js"></script> -->
  <script src="../public/helper.js"></script>

  <title>Host Page</title>
</head>

<body>
  <form class="add-page" id="form-element" action="/add-question" method="POST">
    <div class="cross">
      <a href="/host"><span class="cross-container"><i class="fa fa-times"></i></span></a>
    </div>
    <div class="test-name">
      <input type="text" value="ADD A TEST NAME" name="testname" class="testname">
    </div>
    <div class="host-question">
      <h3>Question</h3>
      <textarea name="question"></textarea>
    </div>
    <div class="add-answers">
      <div><input type="text" name="answer" value="Correct answer"></div>
      <div><input type="text" name="option1" value="option1"></div>
      <div><input type="text" name="option2" value="option2"></div>
      <div><input type="text" name="option3" value="option3"></div>
    </div>
    <input type="button" name="action" class="add-question-btn" value="ADD QUESTION" onclick="addQuestion()"> 
    <input type="button" name="action" class="add-question-btn done-btn" value="DONE" onclick="saveData()"> 
    <a href="/profile">LOAD PROFILE</a>
    <!-- <input type="submit" name="action" class="done-btn" value="DONE">     -->
  </form>
<script>
  var testname;
    var questions = []
</script>
</body>

</html>
