<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/CSS/style.css">
    <script src="assets/scripts/script.js"></script>
    <title>Host Page</title>
</head>
<body>
  <header class="clearfix">
    <div class="logo-container"><img src="" alt="Logo"></div>
    <a href="index.html">LOGOUT</a>
  </header>

  <div class="add-page">
    <div class="cross">
      <span class="cross-container"><i class="fa fa-times" onclick="loadHome()"></i></span>
    </div>
    <div class="test-name">
      <input type="text" value="ADD A TEST NAME">
    </div>
    <div class="host-question">
      <h3>Question</h3>
      <textarea></textarea>
    </div>
    <div class="add-answers">
      <div><input type="text" name="answer" value="Correct answer"></div>
      <div><input type="text" name="option2" value="option2"></div>
      <div><input type="text" name="option3" value="option3"></div>
      <div><input type="text" name="option4" value="option4"></div>
    </div>
    <!-- <div class="check-tab">
      <a href="">CHECK</a>
    </div> -->
      <!-- <span class="score">
        <span>SCORE</span>
        <span class="score-holder">2</span>
      </span>   -->
    <a class="add-question-btn" onclick="loadNewTest()"><i class="fa fa-plus"></i><span>ADD</span></a>      
  </div>

  <div class="confirm">
    <div class="cross">
      <span class="cross-container"><i class="fa fa-times" onclick="loadHome()"></i></span>
    </div>
    <div class="confirm-details">
      <span class="confirm-icon"><i class="fa fa-exclamation"></i></span>
      <h1>Are you sure you want to delete this record?</h1>
      <div class="confirm-btn-wrapper">
        <a class="cancel-btn" href=""><span>CANCEL</span></a>
        <a class="ok-btn" href=""><span>DELETE</span></a>
      </div>
    </div>
  </div>

  <div class="host-details">
    <h3>TESTS HOSTED BY YOU</h3>
    <span class="back-btn"><a href="" onclick="loadResult()"><i class="fa fa-arrow-left"></i></a></span>
    <a class="add-btn" onclick="loadNewTest()"><i class="fa fa-plus"></i><span>ADD</span></a>
    <div class="test-hosted">
      <div class="test">
        <div class="your-test clearfix">
          <div class="topic-container">
            <h4>Topic</h4>
            <p>HTML</p>
          </div>
          <div class="question-container">
            <h4>Questions</h4>
            <p>20</p>
          </div>
          <div class="btn-container clearfix">
            <a href="" class="edit-btn">
              <i class="fa fa-pencil"></i>
              <span>EDIT</span>
            </a>
            <a onclick="loadConfirmation()" class="delete-btn">
              <i class="fa fa-trash"></i>
              <span>DELETE</span>
            </a>
          </div>
        </div> 

        <div class="your-test clearfix">
          <div class="topic-container">
            <h4>Topic</h4>
            <p>HTML</p>
          </div>
          <div class="question-container">
            <h4>Questions</h4>
            <p>20</p>
          </div>
          <div class="btn-container clearfix">
            <a href="" class="edit-btn">
              <i class="fa fa-pencil"></i>
              <span>EDIT</span>
            </a>
            <a href="" class="delete-btn">
              <i class="fa fa-trash"></i>
              <span>DELETE</span>
            </a>
          </div>
        </div>   
        
        <div class="your-test clearfix">
          <div class="topic-container">
            <h4>Topic</h4>
            <p>HTML</p>
          </div>
          <div class="question-container">
            <h4>Questions</h4>
            <p>20</p>
          </div>
          <div class="btn-container clearfix">
            <a href="" class="edit-btn">
              <i class="fa fa-pencil"></i>
              <span>EDIT</span>
            </a>
            <a href="" class="delete-btn">
              <i class="fa fa-trash"></i>
              <span>DELETE</span>
            </a>
          </div>
        </div> 

        <div class="your-test clearfix">
          <div class="topic-container">
            <h4>Topic</h4>
            <p>HTML</p>
          </div>
          <div class="question-container">
            <h4>Questions</h4>
            <p>20</p>
          </div>
          <div class="btn-container clearfix">
            <a href="" class="edit-btn">
              <i class="fa fa-pencil"></i>
              <span>EDIT</span>
            </a>
            <a href="" class="delete-btn">
              <i class="fa fa-trash"></i>
              <span>DELETE</span>
            </a>
          </div>
        </div> 
      </div>
    </div>
  </div>

  <footer>
    <p>copyright info</p>
  </footer>
</body>
</html>