<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../assets/CSS/style.css">
  <!-- <script src="../index.js"></script> -->
  <script src="../public/helper.js"></script>

  <title>User Welcome Page</title>
</head>

<body onload="loadTests()">
  <header class="clearfix">
    <div class="logo-container"><img src="" alt="Logo"></div>
    <a href="/logout">LOGOUT</a>
  </header>

  <div class="test-page">
    <div class="cross">
      <a href="/user" onclick="return setZero()"><span class="cross-container"><i class="fa fa-times"></i></span></a>
    </div>
    <div class="question">
      <p class="question-space">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate suscipit quo unde esse eveniet dicta nobis
        incidunt ipsam! Eum repellat ab veritatis quaerat deleniti molestias alias. Harum quis cupiditate suscipit!</p>
    </div>
    <div class="answers">
      <div class="option1"><input type="checkbox" name="answer1" id="option1"><span id="answer1">ANSWER1</span></div>
      <div class="option2"><input type="checkbox" name="answer2" id="option2"><span id="answer2">ANSWER1</span></div>
      <div class="option3"><input type="checkbox" name="answer3" id="option3"><span id="answer3">ANSWER1</span></div>
      <div class="option4"><input type="checkbox" name="answer4" id="option4"><span id="answer4">ANSWER1</span></div>
    </div>
    <div class="check-tab" onclick="checkAnswer()">
      <a>CHECK</a>
    </div>
    <div class="next clearfix">
      <!-- <span class="score">
        <span>SCORE</span>
        <span class="score-holder"></span>
      </span>   -->
      <span onclick="continueTest()"><a><i class="fa fa-arrow-right"></i></a></span>
    </div>
  </div>

  <div class="applyFade">
    <!-- <a href="">HISTORY</a> -->
    <div class="test-container">
      <h2>ACTIVE TESTS</h2>
      <section class="test-wrapper">
        <!-- <div class="test-flex">
          <div class="testbar clearfix" onclick="showDetails(1)">
            <a onclick="loadTest()">START</a>
            <span>HTML</span>
          </div>
          <div class="test-details">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, eligendi nesciunt! Odit blanditiis
              sunt
              architecto accusamus quae, optio nulla id consequuntur ratione officia. Dolore enim ratione quos?
              Voluptate,
              pariatur doloremque?</p>
          </div>
        </div> -->
        <!-- <div class="test-flex">
          <div class="testbar clearfix" onclick="showDetails(2)">
            <a onclick="loadTest()">START</a>
            <span>HTML</span>
          </div>
          <div class="test-details">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, eligendi nesciunt! Odit blanditiis
              sunt
              architecto accusamus quae, optio nulla id consequuntur ratione officia. Dolore enim ratione quos?
              Voluptate,
              pariatur doloremque?</p>
          </div>
        </div>
        <div class="test-flex">
          <div class="testbar clearfix" onclick="showDetails(3)">
            <a onclick="loadTest()">START</a>
            <span>HTML</span>
          </div>
          <div class="test-details">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, eligendi nesciunt! Odit blanditiis
              sunt
              architecto accusamus quae, optio nulla id consequuntur ratione officia. Dolore enim ratione quos?
              Voluptate,
              pariatur doloremque?</p>
          </div>
        </div>
        <div class="test-flex">
          <div class="testbar clearfix" onclick="showDetails(4)">
            <a onclick="loadTest()">START</a>
            <span>HTML</span>
          </div>
          <div class="test-details">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, eligendi nesciunt! Odit blanditiis
              sunt
              architecto accusamus quae, optio nulla id consequuntur ratione officia. Dolore enim ratione quos?
              Voluptate,
              pariatur doloremque?</p>
          </div>
        </div>
        <div class="test-flex">
          <div class="testbar clearfix" onclick="showDetails(5)">
            <a onclick="loadTest()">START</a>
            <span>HTML</span>
          </div>
          <div class="test-details">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, eligendi nesciunt! Odit blanditiis
              sunt
              architecto accusamus quae, optio nulla id consequuntur ratione officia. Dolore enim ratione quos?
              Voluptate,
              pariatur doloremque?</p>
          </div>
        </div>
        <div class="test-flex">
          <div class="testbar clearfix" onclick="showDetails(6)">
            <a onclick="loadTest()">START</a>
            <span>HTML</span>
          </div>
          <div class="test-details">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, eligendi nesciunt! Odit blanditiis
              sunt
              architecto accusamus quae, optio nulla id consequuntur ratione officia. Dolore enim ratione quos?
              Voluptate,
              pariatur doloremque?</p>
          </div>
        </div>
        <div class="test-flex">
          <div class="testbar clearfix" onclick="showDetails(7)">
            <a onclick="loadTest()">START</a>
            <span>HTML</span>
          </div>
          <div class="test-details">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, eligendi nesciunt! Odit blanditiis
              sunt
              architecto accusamus quae, optio nulla id consequuntur ratione officia. Dolore enim ratione quos?
              Voluptate,
              pariatur doloremque?</p>
          </div>
        </div>
        <div class="test-flex">
          <div class="testbar clearfix" onclick="showDetails(8)">
            <a onclick="loadTest()">START</a>
            <span>HTML</span>
          </div>
          <div class="test-details">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, eligendi nesciunt! Odit blanditiis
              sunt
              architecto accusamus quae, optio nulla id consequuntur ratione officia. Dolore enim ratione quos?
              Voluptate,
              pariatur doloremque?</p>
          </div>
        </div>
        <div class="test-flex">
          <div class="testbar clearfix" onclick="showDetails(9)">
            <a onclick="loadTest()">START</a>
            <span>HTML</span>
          </div>
          <div class="test-details">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, eligendi nesciunt! Odit blanditiis
              sunt
              architecto accusamus quae, optio nulla id consequuntur ratione officia. Dolore enim ratione quos?
              Voluptate,
              pariatur doloremque?</p>
          </div>
        </div>
        <div class="test-flex">
          <div class="testbar clearfix" onclick="showDetails(10)">
            <a onclick="loadTest()">START</a>
            <span>HTML</span>
          </div>
          <div class="test-details">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, eligendi nesciunt! Odit blanditiis
              sunt
              architecto accusamus quae, optio nulla id consequuntur ratione officia. Dolore enim ratione quos?
              Voluptate,
              pariatur doloremque?</p>
          </div>
        </div>
        <div class="test-flex">
          <div class="testbar clearfix" onclick="showDetails(11)">
            <a onclick="loadTest()">START</a>
            <span>HTML</span>
          </div>
          <div class="test-details">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, eligendi nesciunt! Odit blanditiis
              sunt
              architecto accusamus quae, optio nulla id consequuntur ratione officia. Dolore enim ratione quos?
              Voluptate,
              pariatur doloremque?</p>
          </div>
        </div> -->
      </section>

    </div>
  </div>

  <div class="result">
    <div class="cross">
      <a href="/user"><span class="cross-container"><i class="fa fa-times"></i></span></a>
    </div>

    <div class="acknowledgement">
      <div class="ack-wrapper clearfix">
        <span><i class="fa fa-check"></i></span>
        <h2>You have completed the test!</h2>
      </div>
    </div>

    <div class="score result-score">
      <span>YOUR SCORE</span>
      <span class="score-holder">2</span>
    </div>
    
    <div class="link-container">
     <div class="certificate-tab"><span>Certificate Link</span></div>
     <div class="link">
       <a href="" class="certificate-link" target="_blank">certificate</a>
       <!-- <a class="copy-icon" onclick="copyLink()"><i class="fa fa-copy"></i></a> -->
     </div> 
    </div>
  </div>

  <footer>
      <p class="copyright">This application is made by <i class="fa fa-smile-o"></i> Yaminim</p>
  </footer>



  
  <script>
  //   function loadTests(){
  //     var request = new XMLHttpRequest
  //     request.onreadystatechange = function(){
  //     if(this.readyState == 4 && this.status == 200){
  //       var newData = JSON.parse(this.response)
  //       for(let i = 0;i < newData.length; i++){
  //         let testFlex = document.createElement("div")
  //         testFlex.setAttribute("class","test-flex")

  //         //testBar creation
  //         let testBar = document.createElement("div")
  //         testBar.setAttribute("class","testbar clearfix")
  //         testBar.setAttribute("onclick","showDetails(" + i + 1 + ")")
  //         let a = document.createElement("a")
  //         a.setAttribute("onclick","loadTest()")
  //         a.innerHTML = "START"
  //         let span = document.createElement("span")
  //         span.innerHTML = newData[i].testname
  //         testBar.appendChild(a)
  //         testBar.appendChild(span)


  //         //testDetails creation
  //         let testDetails = document.createElement("div")
  //         testDetails.setAttribute("class","test-details")
  //         let p = document.createElement("p")
  //         //Host name fetching from database
  //         // var host = mongoose.model("user").findOne({id: newData[i].host_id})
  //         p.innerHTML = "This test is hosted by " //+ host.username
  //         testDetails.appendChild(p)

  //         testFlex.appendChild(testBar)
  //         testFlex.appendChild(testDetails)
  //         document.getElementsByClassName("test-wrapper")[0].appendChild(testFlex)
  //       }
  //     }
  //   }
  //   request.open('GET','/load-tests',true)
  //   request.send()
  // }






    var activeTests = [];

    var index = 0, score = 0, answer, id, ques;


    // function loadTest(){
    //   let elem = document.getElementsByClassName("test-page")
    //   elem[0].style.display = "block";
    //   document.getElementsByClassName("applyFade")[0].style.opacity = 0.4;        
    //   document.getElementsByClassName("image-container")[0].style.opacity = 0.4;
    // }

    // function loadResult(){
    //   let elem = document.getElementsByClassName("result")
    //   elem[0].style.display = "block";
    //   document.getElementsByClassName("applyFade")[0].style.opacity = 0.4;  
    //   document.getElementsByClassName("test-page")[0].style.display = "none";
    // }


    // function showDetails(index){
    //   let elem = document.getElementsByClassName("test-details")
    //   if( !elem[index - 1].style.display || elem[index - 1].style.display === "none")
    //   elem[index - 1].style.display = "block"
    //   else
    //   elem[index - 1].style.display = "none"
      
    //   // elem[0].style.transform = "scaleY(1)"
    //   // elem[0].style.display = "block"
    // }
  </script>
</body>

</html>
